<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
   
    <bean id="AlbCiudadesServicioImpl" class="com.negocio.servicio.general.sistema.AlbCiudadesServicioImpl">
        <property name="albCiudadesDao" ref="AlbCiudadesDao" />
    </bean>
    <bean id="AlbCiudadesDao" class="com.negocio.dao.general.sistema.AlbCiudadesDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbAlbergueServicioImpl" class="com.negocio.servicio.albergue.AlbAlbergueServicioImpl">
        <property name="albAlbergueDao" ref="AlbAlbergueDao" />
    </bean>
    <bean id="AlbAlbergueDao" class="com.negocio.dao.albergue.AlbAlbergueDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbDamnificadoServicioImpl" class="com.negocio.servicio.damnificado.AlbDamnificadoServicioImpl">
        <property name="albDamnificadoDao" ref="AlbDamnificadoDao" />
    </bean>
    <bean id="AlbDamnificadoDao" class="com.negocio.dao.damnificado.AlbDamnificadoDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbEstadoCivilServicioImpl" class="com.negocio.servicio.general.sistema.AlbEstadoCivilServicioImpl">
        <property name="albEstadoCivilDao" ref="AlbEstadoCivilDao" />
    </bean>
    <bean id="AlbEstadoCivilDao" class="com.negocio.dao.general.sistema.AlbEstadoCivilDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbInstruccionServicioImpl" class="com.negocio.servicio.general.sistema.AlbInstruccionServicioImpl">
        <property name="albInstruccionDao" ref="AlbInstruccionDao" />
    </bean>
    <bean id="AlbInstruccionDao" class="com.negocio.dao.general.sistema.AlbInstruccionDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbProfesionServicioImpl" class="com.negocio.servicio.general.sistema.AlbProfesionServicioImpl">
        <property name="albProfesionDao" ref="AlbProfesionDao" />
    </bean>
    <bean id="AlbProfesionDao" class="com.negocio.dao.general.sistema.AlbProfesionDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbDiscapacidadServicioImpl" class="com.negocio.servicio.general.sistema.AlbDiscapacidadServicioImpl">
        <property name="albDiscapacidadDao" ref="AlbDiscapacidadDao" />
    </bean>
    <bean id="AlbDiscapacidadDao" class="com.negocio.dao.general.sistema.AlbDiscapacidadDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbFamiliaServicioImpl" class="com.negocio.servicio.general.sistema.AlbFamiliaServicioImpl">
        <property name="albFamiliaDao" ref="AlbFamiliaDao" />
    </bean>
    <bean id="AlbFamiliaDao" class="com.negocio.dao.general.sistema.AlbFamiliaDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbServicioServicioImpl" class="com.negocio.servicio.albergue.servicio.basico.AlbServicioServicioImpl">
        <property name="albServicioDao" ref="AlbServicioDao" />
    </bean>
    <bean id="AlbServicioDao" class="com.negocio.dao.albergue.servicio.AlbServicioDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="ServicioSituacionAlbergueServicioImpl" class="com.negocio.servicio.albergue.ServicioSituacionAlbergueServicioImpl">
        <property name="servicioSituacionAlbergueDao" ref="ServicioSituacionAlbergueDao" />
    </bean>
    <bean id="ServicioSituacionAlbergueDao" class="com.negocio.dao.albergue.ServicioSituacionAlbergueDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    
    <bean id="AlbSituacionServicioImpl" class="com.negocio.servicio.albergue.servicio.basico.AlbSituacionServicioImpl">
        <property name="albSituacionDao" ref="AlbSituacionDao" />
    </bean>
    <bean id="AlbSituacionDao" class="com.negocio.dao.albergue.servicio.AlbSituacionDaoImpl">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <bean id="DataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName"   value="com.mysql.jdbc.Driver" />
        <property name="url"  value="jdbc:mysql://localhost/bdd_alb"/>
        <property name="username"  value="root"/>
        <property name="password"   value=""/>
    </bean>    
    
    <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
        <property name="mappingResources">
            <list>              
               <value>com/persistencia/damnificado/AlbDamnificado.hbm.xml</value>                          
               <value>com/persistencia/albergue/AlbAlbergue.hbm.xml</value>
                <value>com/persistencia/albergue/PartediarioAlbergue.hbm.xml</value>
                <value>com/persistencia/albergue/ServicioSituacionAlbergue.hbm.xml</value>
                <value>com/persistencia/albergue/servicio/AlbServicio.hbm.xml</value>
                <value>com/persistencia/albergue/servicio/AlbSituacion.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbAvanceImplementacion.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbCanton.hbm.xml</value>
                 <value>com/persistencia/general/sistema/AlbParroquia.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbCarpa.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbDiscapacidad.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbEmpresa.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbEstadoCivil.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbFamilia.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbFuerza.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbInstruccion.hbm.xml</value>               
                <value>com/persistencia/general/sistema/AlbParteDiario.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbProfesion.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbProvincia.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbRango.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbTipoCarpa.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbTipoEmpresa.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbTipoVehiculo.hbm.xml</value>
                <value>com/persistencia/general/sistema/AlbVehiculo.hbm.xml</value>
                <value>com/persistencia/general/sistema/DamnificadoDiscapacidad.hbm.xml</value>
                <value>com/persistencia/seguridad/sistema/AlbMenu.hbm.xml</value>
                <value>com/persistencia/seguridad/sistema/AlbPantalla.hbm.xml</value>
                <value>com/persistencia/seguridad/sistema/AlbPerfil.hbm.xml</value>
                <value>com/persistencia/seguridad/sistema/AlbPersonalAdministrativo.hbm.xml</value>
                <value>com/persistencia/seguridad/sistema/PantallaPerfil.hbm.xml</value>
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>
       <!-- Enable the configuration of transactional behavior based on annotations  transaction-manager="txManager" -->
    <tx:annotation-driven transaction-manager="hibernateTransactionManager"/>

    <!-- Transaction Manager is defined -->
    <bean class="org.springframework.orm.hibernate4.HibernateTransactionManager"
    id="hibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
   
</beans>